

.ul a {
    text-decoration: none;
    text-transform: uppercase;
}


.header{
    display: flex;
    justify-content: space-between;
    background-color: rgba(0,0,0, 0.7);
    align-items: center;
    padding: 0;
    height: 7vh;
}


.header .headerLogo{
    font-size: 2rem	;
    margin: 0rem 1.5rem;
}

.ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}


.ul li {
    margin-right: 1rem;
    
}



.ul li a {
    font-size: 1.3rem;
    padding: 8px 10px;
}


.menuItemActive{
    background-color: grey;
    border-radius: 4px;
}


.ul li a:hover{
    background-color: grey;
    transition: 0.5s;
    border-radius: 4px;

}


.hamburger{
    position: absolute;
    right: 1.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.hamburger .bar{
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 10px;
    transition: 0.3s all;
}

@media (max-width: 768px){
    .body{
        overflow-x: hidden;
    }

    .hamburger{
        display: flex;
        cursor: pointer;
    }

    .ul{
        flex-direction: column;
        position: absolute;
        top:14vh;
        right: -100%;
        background-color: rgba(0,0,0, 0.7);
        height: 93vh;
        width: 100%;
        align-items: center;
        transition: right 0.3s ease-in;
    }
    .ul li {
        margin-right: 0px;
    }

    .menuActive{
        right: 0;
        transition: right 0.3s ease-in;
    }

    .hamburgerActive .bar:nth-child(2){
        opacity: 0;
    }

   .hamburgerActive .bar:nth-child(1){
        transform: rotate(-45deg)  translate(-5px, 7px);
    }

    .hamburgerActive .bar:nth-child(3){
        transform: rotate(45deg) translate(-5px, -7px)
    }

}