
.header{
    display: flex;
    justify-content: space-between;
    background-color: rgba(0,0,0, 0.7);
    align-items: center;
    padding: 0;
    height: 100px;
}


.header .headerLogo {
    font-family: 'Playfair Display', sans-serif;
    font-size: 1.5rem; /* Increased size for better visibility */
    font-weight: 700; /* Bold font weight to make it pop */
    color: #FFFFFF; /* White color for high contrast on dark backgrounds */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adding shadow for depth */
    transition: transform 0.3s; /* Smooth transition for hover effects */
    margin-left: 1.5rem;
}

.header .headerLogo:hover {
    transform: scale(1.1); /* Slightly enlarging the logo on hover */
    color: #E0E0E0; /* Light grey color on hover for a soft effect */
}

